# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [63]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [64]:
cities_pd = pd.read_csv("../WeatherPy/Cities.csv")
cities_pd.head()

,City ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Mataura,-46.1927,168.8643,39.76,95,92,3.04,NZ,1621103994
1,1,Tongzi,28.7829,105.0877,64.63,72,100,4.32,CN,1621103994
2,2,Albany,42.6001,-73.9662,75.00,17,99,2.39,US,1621103757
3,3,Hobart,-42.8794,147.3294,48.20,66,90,10.36,AU,1621103813
4,4,Ushuaia,-54.8000,-68.3000,48.20,57,20,17.27,AR,1621103946

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [65]:
gmaps.configure(api_key=g_key)

In [68]:
# Store 'Lat' and 'Lng' into  locations 
locations = cities_pd[["Lat", "Lng"]].astype(float)

# Convert humidity to float and store
# HINT: be sure to handle NaN values
cities_pd = cities_pd.dropna()
humidity = cities_pd["Humidity"].astype(float)

# Create a humidity Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights= humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [69]:
#Narrow down the DataFrame to find your ideal weather condition. For example:
#A max temperature lower than 80 degrees but higher than 70.
#Wind speed less than 10 mph.
#Zero cloudiness.

ideal_df = cities_pd.loc[(cities_pd["Max Temp"] > 70) &
                         (cities_pd["Max Temp"] < 78) &
                         (cities_pd["Wind Speed"] < 8) &
                         (cities_pd["Cloudiness"] == 0), :].reset_index(drop=True).dropna()
ideal_df.head()

,City ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,23,Al Bardīyah,31.7561,25.0865,70.81,72,0,6.26,LY,1621104004
1,183,Inhambane,-23.8650,35.3833,75.20,88,0,4.61,MZ,1621104064
2,193,San Miguel de Tucumán,-26.8241,-65.2226,73.40,53,0,5.75,AR,1621104068
3,227,Murgab,37.4966,61.9714,73.40,43,0,4.61,TM,1621104081
4,338,Richards Bay,-28.7830,32.0377,70.43,36,0,7.96,ZA,1621103824

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [70]:
hotel_df = ideal_df[["City", "Country", "Lat", "Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df

<ipython-input-70-69ace26b87e9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = ""

                    City Country      Lat       Lng Hotel Name
0            Al Bardīyah      LY  31.7561   25.0865
1              Inhambane      MZ -23.8650   35.3833
2  San Miguel de Tucumán      AR -26.8241  -65.2226
3                 Murgab      TM  37.4966   61.9714
4           Richards Bay      ZA -28.7830   32.0377
5               Umuarama      BR -23.7664  -53.3250
6                 Maxixe      MZ -23.8597   35.3472
7               Portland      US  45.5234 -122.6762
8                   Tura      IN  25.5198   90.2201

In [75]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
keyword = "hotel"
radius = 5000


# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
    
    coordinates = f"{row['Lat']},{row['Lng']}"
   
    params = {
    "location": coordinates,
    "radius": radius,
    "keyword": keyword,
    "key": g_key,
}

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {row['City']}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest Hotel in {row['City']} is {results[0]['name']}.")
        
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']

        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 0: Al Bardīyah.
Closest Hotel in Al Bardīyah is Hotel Burdy.
------------
Retrieving Results for Index 1: Inhambane.

C:\Users\steve\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

Closest Hotel in Inhambane is Sentidos Beach Retreat.
------------
Retrieving Results for Index 2: San Miguel de Tucumán.
Closest Hotel in San Miguel de Tucumán is Sheraton Tucuman Hotel.
------------
Retrieving Results for Index 3: Murgab.
Missing field/result... skipping.
------------
Retrieving Results for Index 4: Richards Bay.
Closest Hotel in Richards Bay is BON Hotel Waterfront Richards Bay.
------------
Retrieving Results for Index 5: Umuarama.
Closest Hotel in Umuarama is HOTEL CAIUÁ.
------------
Retrieving Results for Index 6: Maxixe.
Closest Hotel in Maxixe is Sentidos Beach Retreat.
------------
Retrieving Results for Index 7: Portland.
Closest Hotel in Portland is Hotel Lucia.
------------
Retrieving Results for Index 8: Tura.
Closest Hotel in Tura is Hotel Polo Orchid.
------------

In [76]:
hotel_df

,City,Country,Lat,Lng,Hotel Name
0,Al Bardīyah,LY,31.7561,25.0865,Hotel Burdy
1,Inhambane,MZ,-23.8650,35.3833,Sentidos Beach Retreat
2,San Miguel de Tucumán,AR,-26.8241,-65.2226,Sheraton Tucuman Hotel
3,Murgab,TM,37.4966,61.9714,
4,Richards Bay,ZA,-28.7830,32.0377,BON Hotel Waterfront Richards Bay
5,Umuarama,BR,-23.7664,-53.3250,HOTEL CAIUÁ
6,Maxixe,MZ,-23.8597,35.3472,Sentidos Beach Retreat
7,Portland,US,45.5234,-122.6762,Hotel Lucia
8,Tura,IN,25.5198,90.2201,Hotel Polo Orchid

In [77]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [78]:
# Create bank symbol layer
markers = gmaps.marker_layer(locations,info_box_content = hotel_info)
fig.add_layer(markers)

fig

Figure(layout=FigureLayout(height='420px'))